@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


*{
    margin: 0;
    padding: 0;
}
html,body{
    font-weight: 300;
    font-family: "Roboto",sans-serif;
    word-wrap: break-word;
    height: 100%;
    }

.container{
    background-image: url(img/img1.jpeg);
    background-position: center;
    background-size: cover;
    /* background-attachment:fixed ; */
    background-repeat: no-repeat;
    height: 100%;
    position: relative;
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-areas: 'background h1'
    'background input ';
}
.h1{

display: flex;
align-items: flex-end;
justify-content: flex-end;
/* background-color: aqua; */
padding: 20px;
font-size: 1.9rem;
text-transform: capitalize;
}



input{
font-size: 20px;
padding: 5px;
}
.input ,.fa-cog ,.fa-solid{
color: black;
font-size: 1.5rem;
}

.fa-check-square{
    color: green;
    transition: 0.5s ease-in;
}

/* .fa-right-long{
  position: relative;
  margin: 0 20px;
  font-size: 2.5rem;
  animation-name: example;
  animation-duration: 0.5s;
  animation-iteration-count: infinite;
}
@keyframes example {
    0%   { left:0px; top:0px;}
    50%  { left:4px; top:0px;}
    100% { left:-4px; top:0px;} 
  } */


.fa-check-square:hover{
  filter:drop-shadow(2px 2px 2px black);
  transition: 0.5s ease-out;
}

.input{
text-align: center;
   
}

.hide{
    display: none;

}

.timespan
{
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
   margin: 6px;
    color: rgb(42, 50, 57);
}
.timespan div{
    font-size: 1.9rem;
    color: rgb(83, 91, 98);
}